* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  /* width: auto;
  max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-weather-details {
  height: 30vh;
  background-color: rebeccapurple;
  padding: 50px;
}
